.sec-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 16px;
    width: 389.33px;
    height: 122px;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.aside-div {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 40px;
    text-align: center;
    background: url(/images/Rectangle\ 40.svg);
    border-radius: 20px;

    .aside-div1 {
        max-width: 550px;
        height: 400px;
        left: 604px;
        padding-top: 15rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(18, 18, 18, 0.75) 48.67%);
        border-radius: 0px 0px 24px 24px;

        .btn1 {
            background-color: mediumaquamarine;
            box-sizing: border-box;
            left: 6.25%;
            right: 6.25%;
            top: 6.25%;
            bottom: 6.25%;
        }
    }



}

.aside-div3 {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 40px;
    text-align: center;
    background: url(/images/Rectangle\ 41.svg);
    border-radius: 20px;

    .aside-div4 {
        max-width: 550px;
        height: 400px;
        left: 604px;
        padding-top: 15rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(18, 18, 18, 0.75) 48.67%);
        border-radius: 0px 0px 24px 24px;

        .btn1 {
            background-color: mediumaquamarine;
            box-sizing: border-box;
            left: 6.25%;
            right: 6.25%;
            top: 6.25%;
            bottom: 6.25%;
        }
    }
}

.asigap {
    gap: 24px;
    justify-content: space-between;
    margin-top: 5rem;
}

.div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 40px;
    max-width: 425px;
    max-height: 800px;
    left: -1px;
    top: 0px;
    box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.1);
    border-radius: 20px;

    .text-right {
        align-self: flex-end;

    }

    .star {
        align-self: stretch;
        left: 3.13%;
        right: 3.12%;
        top: 6.25%;
        bottom: 6.24%;
    }

    .olga {
        font-family: 'TradeGothic LT Extended';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        align-self: stretch;
        flex-grow: 0;

    }

    .google {
        font-family: 'TradeGothic LT Extended';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        flex-grow: 1;
    }

    .main-images {
        max-width: 300px;
        max-height: 200px;
        background: url(images/Rectangle\ 36.svg);
        border-radius: 8px;
    }
    .shadow {
        max-width: 425px;
        max-height: 586px;
        left: 25px;
        top: 22px;
        background: rgba(141, 211, 187, 0.4);
        border-radius: 20px;
    }
    
}
.cardgap{
    gap: 24px;
}